<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- <div v-for="{fruit,index} in fruits" :key="index" :a="index">
            {{fruit}}{{index}}
            <div v-if="index%2">{{fruit}}</div>
            <div v-else>{{index}}</div>
        </div>
        <div v-for="(value,key) in info">
            {{value}}
        </div> -->

        <!-- <template v-for="i in 3" >
            <div :key="i+'_1'" :a="i+'_1'">{{i}}</div>
            <div :key="`${i}_2`" :a="`${i}_2`" a={{i}}>{{i}}</div>
        </template> -->

        <!--key可以用来区分元素-->
        <!--尽量不要用index作为key-->
        <!--如果有唯一标识，尽量使用唯一标识-->
        <div v-if="flag">
            <span>珠峰</span>
            <input type="text" key="1">
        </div>

        <div v-else>
            <span>架构</span>
            <input type="text" key="2">
        </div>

        <li key="0">香蕉</li>
        <li key="1">苹果</li>
        <li key="2">橘子</li>

    </div>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script>
        let vm = new Vue({
            el: '#app',
            data: {
                fruits: ['香蕉','苹果','橘子'],
                info: {name:'珠峰',age:10,address:'回龙观'}
            }
        });
    </script>
</body>
</html>