<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app" >
        {{newName}}
        {{name | capitalize(2)}}
        <my-component></my-component>
    </div>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
        // 指令和过滤器函数中的this都是window
        // 公共的放在全局写，
        // 过滤器不会改变原数据
        Vue.filter('capitalize',function(value,len){
            // console.log(this);
            return value.slice(0,len).toUpperCase()+value.slice(len);
        });
        // webpack的懒加载来使用
        Vue.component('my-component', function(resolve){
            setTimeout(()=>{
                resolve({
                    template:'<h1>hello</h1>'
                });
            },5000);
        });
        // 只改变数据的展示形式，并不会改变原数据 computed
        let vm = new Vue({
            el:'#app',
            data: {
                name: 'abcde',
                flag: true
            },
            computed:{
                newName(){
                    return this.name.slice(0,1).toUpperCase()+this.name.slice(1)
                }
            },
            // filters:{}
        });
      /*
      sudo npm install @vue/cli -g .vue
      sudo npm install -g @vue/cli-service-global
      */
 </script>
</body>
</html>