<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!--组件化 开发的优点 方便协作 方便维护 复用 （数据根据传入的数据展示）-->
    <!--组件的定义方式 一共有两种 全局组件 局部组件-->
    <div id="app">
        <my-button :msg="content" :a="1" b="4" :arr="[1,2,3]"></my-button>
    </div>
    <div id="app1"></div>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
        // 组件交互 7种
        let vm = new Vue({
            el: '#app',
            data:{
                content: '点我啊'
            },
            components: {
                'MyButton':{
                    props:{
                        msg: {
                            type: String,
                            default: '点我啊'
                        },
                        a: {
                            type: Number
                        },
                        b: {
                            type: String,
                            validator(value){
                                return value > 3
                            }
                        },
                        arr: {
                            type:Array,
                            // 属性校验中 如果是数组/对象 需要将默认值返回
                            default:()=>([1,2])
                        }
                    },
                   template: `<button>点我啊{{msg}} {{a}} {{b}} {{arr}}</button>`
                }
            }
        });
    </script>
</body>
</html>