<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .title {
            width: 100px;
            height:35px;
            border: 1px solid red;
            line-height: 35px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="app">
       <my></my>
    </div>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
        Vue.component('my', {
            inject:['a'],
            template:'<div>{{a}}</div>'
        });
        let vm = new Vue({
            el: '#app',
            provide: {
                a: 1
            },
            mounted(){
                console.log(this._uid);
            }
        });
    </script>
</body>
</html>